@import "../../shared/measurements.scss";

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffffff;
  height: $top-nav-height;
  width: $top-nav-width;

  position: absolute;
  right: 0;
}

.collapsed {
  width: $top-nav-collapsed;
}

.expanded {
  width: $top-nav-width;
}
