@import "../../shared/measurements.scss";

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #fafafa;
  transition: all 300ms ease-in-out;
}

.collapsed-top-container {
  margin-left: max($side-panel-collapsed, 50px);
  width: calc(100vw - #{$side-panel-collapsed});
  height: 8vh;
}

.expanded-top-container {
  margin-left: max($side-panel-width, 280px);
  width: calc(100vw - #{max($side-panel-width, 280px)});
  height: 8vh;
}
