@import "../../shared/measurements.scss";

.main-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(153, 143, 143);
  height: calc(100vh - 8vh);
  transition: all 300ms ease-in-out;
}

.collapsed-main-container {
  margin-left: $side-panel-collapsed;
  width: calc(100vw - #{$side-panel-collapsed});
}

.expanded-main-container {
  margin-left: $side-panel-width;
  width: calc(100vw - #{$side-panel-width});
}
