@import "../../shared/measurements.scss";

.main-container {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  height: calc(100vh - 10vh);
  transition: all 300ms ease-in-out;
}

.collapsed-main-container {
  margin-left: max($side-panel-collapsed, 50px);
  width: calc(100vw - #{$side-panel-collapsed});
}

.expanded-main-container {
  margin-left: max($side-panel-width, 280px);
  width: calc(100vw - #{max($side-panel-width, 280px)});
}
