@import "./shared/color-palette.scss";

.side-pannel-container {
    display: flex;
    flex-direction: column;
    width: 17.19%;
    height: 100vh;
    background-color: $container-background-color;
}